@font-face {
	font-family: 'Roboto';
	src: url('./resources/fonts/Roboto-Italic.woff2') format('woff2'),
		url('./resources/fonts/Roboto-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('./resources/fonts/Roboto.woff2') format('woff2'),
		url('./resources/fonts/Roboto.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
}

html {
	height: 100%;
	font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	height: 100%;

	display: grid;

	grid-template-rows: 1fr 6fr;
	grid-template-columns: 1fr 5fr;

	grid-template-areas:
		"sidebar header"
		"sidebar main-content";
}

.sidebar {
	grid-area: sidebar;

	display: grid;
	justify-content: center;
}

.header {
	grid-area: header;
}

.main-content {
	grid-area: main-content;
}