@font-face {
	font-family: 'Roboto';
	src: url('./resources/fonts/Roboto-Italic.woff2') format('woff2'),
		url('./resources/fonts/Roboto-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('./resources/fonts/Roboto.woff2') format('woff2'),
		url('./resources/fonts/Roboto.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
}

html {
	height: 100%;
	font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	height: 100%;

	display: grid;

	grid-template-rows: 1fr 6fr;
	grid-template-columns: 1fr 4.5fr;

	grid-template-areas:
		"sidebar header"
		"sidebar main-content";
}

.sidebar {
	padding: 1.2rem;
	background-color: #1992d4;
	color: white;
}

.sidebar img {
	filter: invert();
}

.branding {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1em;
}

.branding img {
	max-height: 3em;
}

.sidebar-links {
	display: grid;
	padding-top: 3.1rem;
}

.sidebar-links .sidebar-link {
	min-height: 5ch;
}

.header {
	grid-area: header;
}

.main-content {
	grid-area: main-content;
}