* {
	margin: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;

	display: grid;

	grid-template-rows: 1fr 6fr;
	grid-template-columns: 1fr 5fr;

	grid-template-areas:
		"sidebar header"
		"sidebar main-content";
}

.sidebar {
	grid-area: sidebar;
}

.header {
	grid-area: header;
}

.main-content {
	grid-area: main-content;
}